<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js" integrity="sha256-j2LsvgOlQFIb2Mphb+tX7d5pNmFdpsJU+s5GNo3z63g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-shape/1.2.0/d3-shape.js" integrity="sha256-Q8mzLT+QLbfJlcdliqyJ0vRy/3aiyNqVYtOIOD6vD20=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.13.0/metricsgraphics.css" integrity="sha256-vGq3C1LJxEnnFly0DPHaD1RH+uJeDbqSB/nvFvzS768=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.13.0/metricsgraphics.js" integrity="sha256-abKDd6Gvu5VtqR+Hf6P2Z+OhN7JQRAnt0fIyzqxsPy8=" crossorigin="anonymous"></script>
</head>
<body>

<div id="downloads"></div>

<script type="text/javascript" charset="utf-8">
    const socket = io.connect('http://' + document.domain + ':' + location.port);

    let options = {
        title: "Downloads",
        description: "This graphic shows a time-series of downloads.",
        data: [[]],
        width: 600,
        height: 250,
        chart_type: 'point',
        target: '#downloads',
        x_accessor: 'x',
        y_accessor: 'y',
        x_sort: false
    };

    {#MG.data_graphic(options);#}

    const UPDATE_EVENT = 'my event';
    socket.on(UPDATE_EVENT, function() {
        socket.emit(UPDATE_EVENT, {data: 'I\'m connected!'});
    });

    let i = 0;
    socket.on(UPDATE_EVENT, (data) => {
        i += 1;
        console.log(data);

        // FIFO queue observations

        if (options.data[0].length === 200) {
            options.data[0].shift()
        }

        options.data[0].push({'x': i, 'y': parseFloat(data) });

        MG.data_graphic(options);
        console.log(options.data);
        //socket.emit(UPDATE_EVENT, {data: 'Got the new value!'});
    });
</script>
</body>
</html>